*{
	margin:0;
	padding:0;
	border-spacing:0px;
	border-collapse:collapse;
	border: 0px solid gray;
	border-style: none;
	font-family:Arial, Helvetica, Verdana, sans-serif;
}




/*********** Body ***************/
body {
	background-color:#DCEDEB;  /*#DBEFF0; /*#F5F0E0;*/
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif;
	color:#333333;
}

#container {
	padding: 0px;
	margin: 0px auto;
	width: 880px;

}
/************** Header **************/
#header{
	width:878px;
	height: 100px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#725C7C;
	padding-top:20px;
	text-transform:uppercase;
	background-color:#A2AEB7;
	border: 1px solid gray;


}
/******** Footer *************/
#footer {
	width:878px;
	min-height:20px;
	color:#725C7C;
	background-color:#A2AEB7;
	border:1px solid gray;
	clear:left;
	margin:0px auto;
}


/*********Global Settings **********/

h1 {
font-size:18px; 
font-weight:200;
margin:0px; 
text-align:left;
color:#5F536C;
text-transform:uppercase;

line-height: 160%;

}

h2 {
font-size:12px; 
margin:0px; 
text-align:left;
color:#fff;
text-transform:uppercase;
padding:1px 15px 1px 15px;

}

h3 {
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size:11px; 
	font-weight:400;
	text-align:left;
	color:#5F7183;
	text-transform:uppercase;
	line-height: 160%;
	margin-bottom:5px;

}

h4 {
font-size:14px; 
margin:0px; 
text-align:left;
text-transform:uppercase;
color:#496B8D;

}

a{
	text-decoration:none;	
	cursor: pointer;
}

a:link{
	color:#496B8D;
}
a:hover{
	color:#555;
}
a:visited{
	color:#496B8D;
}
a:active{
	color:#888;
}
a.edit:link{
	color:#fff;
}
a.edit:visited{
	color:#fff;
}



label {
	font-family:Arial, Helvetica, sans-serif;
	color: #874A95;
	font-weight:none;
	margin:auto;
}

label.required {
	font-weight:bold;
}

label.optional {
}

label.error {
font-size:14px; 
color: #C03;
}

label.errormsg {
font-size:10px; 
color: #C03;
text-transform:uppercase;
line-height:120%;
}

label.foot {
	position:absolute;
	bottom:10px;
}

label.note {
	font-family:Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #555;
}


input {
width:100px;
padding-left:5px; 
padding-right:5px; 
height: 18px;
margin:0px; 
color:#6B7989;
background-color:#F8F5ED;
border:1px solid gray;
}
input[type="radio"] {
	padding:0px;
	width: 15px;
}
input[type="checkbox"] {
	padding:0px;
	width: 15px;
}
input[type="name"] {
width:160px;
}
input[type="address"] {
width:340px;
}
input[type="areacode"] {
width:24px;
}
input[type="small"] {
width:71px;
}
input[type="medium"] {
width:120px;
}
input[type="large"] {
width:200px;
}

input[type="password"] {
width:200px;
}


input[type="submit"].profile {
	padding: 0px;
	font-size:12px;
	color:#fff;
	width: 40px;
	background-color:#93C9D2;
	border:0px solid gray;
}

input[type="button"]{
	padding: 0px;
	font-size:12px;
	color:#fff;
	border:1px solid #ccc;
	background-color:#93C9D2;
	margin-bottom: 2px;
	
}


input[type="button"].alphabutton {
	width: 20px;
	cursor: pointer;
}

input[type="button"].themebutton {
	width: 82px;
	cursor: pointer;
}

input[type="button"].disabled {
	color:#fff;
	background-color:#C0CFD3;
	cursor: default;
}
input[type="button"].wide {
	width: 150px;
}



input.search {
width:30px;
}


select {
color:#004466;
background-color:#F8F5ED;
border:1px solid gray;
margin:0px; 
/*min-width:85px;*/
max-width:120px;
}


p{
	color:#fff;
	padding:1px 15px 1px 15px;
	
}
p.alignright {
	float:right;
	font-size:12px; 
	cursor:pointer;
}
p.alignleft {
	float:left;
	font-size:12px; 
	margin:0px; 
	font-weight:bold;
	text-transform:uppercase;
}



/*************div***********/

div {
	/*width:100%;	
	padding:10px 0px 3px 0px;*/	
	float:none;
}

div.dir {	
	z-index:1;
	width:595px;	
	min-height:150px;
	position:absolute;
	padding:0px;	
	top:138px;
}

div.search {
	width:360px;	
	z-index:1;
	background-color:#DCEDEB;
	min-height:150px;
	position:absolute;
	top:500px;
	left:200px;
	padding:20px;
	border: 1px solid gray;
}

div.login {
	width:360px;	
	z-index:1;
	background-color:#DCEDEB;
	padding:20px 10px 20px 30px;
	position:absolute;
	left:100px;
	border: 1px solid gray;
}


div.section {	
	padding:10px 0px 3px 0px;
	border-bottom:1px;
	border-style:solid;
	border-color:#646464;
	float:none;
}

div.profile_header {
	width:100%;	
	min-height:19px;
	background-color:#93C9D2;
	border-top: 1px solid #bbb;
	border-left: 1px solid #bbb;
	border-bottom: 1px solid #93C9D2;
	border-right: 1px solid #93C9D2;
}

div.profile {	
	border-left:1px solid #bbb;
	/*border-style:solid;
	border-color:#646464;*/
	clear:both;
}

div.alignright {
	padding:10px 0px 3px 0px;
	width:99%;
	height:18px;
	text-align:right;
	font-size:11px;
	color:#555;
	clear:both;
}
div.noborder {
	padding:10px 0px 3px 0px;
	border:0px;
}
div.right {
	padding:10px 0px 3px 0px;
	float:right;
}
div.left {
	padding:10px 5px 3px 0px;
	float:left;
}
div.half {
	width: 295px ;
}
div.sixty {
	width: 355px ;
}
div.forty {
	width: 225px ;
}
div.bordered {
	border: 1px #ccc solid;
	padding: 5px;
	margin: 5px;
}
div.clear {
	clear:both;
}


div#account {
	padding:0px;
}




/*************dropdown***********/

select {
	color:#42536F;
	/*width: 220px;*/
}

/*************table***********/

table {
	border-collapse: collapse;
	width:100%;
	/*table-layout: fixed;
	
	background-color: #90C6D0 ; 
	color:#368699;
	*/
}

thead {
	color:#368699;
	
}



td, th{
	padding: 0.4em;
	border: 1px solid #CCC;
}



table.xs{
	width:30%;	
}

table.small{
	width:65%;	
}

table.medium{
	width:78%;	
}



table.xl{
	width:100%;	
}
table.profile{
	width:95%;
	margin: auto;
}



td.noborder {
	border: 0px;
	padding: 2px 20px 2px 0px;
	width:120px;	
}


td.xs {
	border: 0px;
	width:17%;	
	padding: 2px 20px 2px 0px;
}

td.small {
	border: 0px;
	width:40%;	
	padding: 2px 20px 2px 0px;
}
td.med {
	border: 0px;
	width:120px;	
	padding: 2px 20px 2px 0px;
}




.error {
color:#FF0000;
padding-left:2px; 
font-weight:500;
}




/******************Login Page******************/
#login_page {
float: left;
width: 625px;
background-color:#F2F4F3;
padding:20px 10px 10px 15px; 
line-height: 16px;
border-color:gray;
border-style:solid;
border-width:1px 1px 0px 1px;
font-family:Arial, Helvetica, sans-serif;
min-height:770px;

}




/************Admin Pages**********************/



#content {
float: left;
width: 615px;
background-color:#F7F9F8;
padding:20px 35px 20px 35px; 
line-height: 140%;
	border: 1px solid gray;
font-family:Arial, Helvetica, sans-serif;
min-height:850px;
position:relative;
}

#content.left {
width: 143px;
background-color:#ddd;
font-weight:bold;
/*min-height:900px;*/
padding:20px 18px 20px 30px; 
}


#content.left ul {
line-height:25px;
list-style: none;
}

#content.left ul#directory {
	font-size:11px;
	padding-left:10px; 
	display:none;
}

#content.left li {
	text-transform:uppercase;
}
#content.left li#directory {
	text-transform:lowercase;
}

#content.left ul#admin {
	font-size:11px;
	padding-left:8px; 
	display:none;
}


#content.left li#admin {
	text-transform:lowercase;
}

/*
 *  File:         demo_table.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	min-height: 100px;
	clear: both;
	/*_height: 302px;*/
	zoom: 1; /* Feeling sorry for IE */
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 14px;
	background-color: white;
}

.dataTables_length {
	width: 50%;
	float: left;
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
	padding-bottom:5px;
}

.dataTables_info {
	width: 70%;
	float: left;
	padding-top:5px;
	font-size:12px;
}

.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
	padding-top:5px;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('../images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('../images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('../images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('../images/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	clear: both;
	width: 100%;
	
	/* Note Firefox 3.5 and before have a bug with border-collapse
	 * ( https://bugzilla.mozilla.org/show%5Fbug.cgi?id=155955 ) 
	 * border-spacing: 0; is one possible option. Conditional-css.com is
	 * useful for this kind of thing
	 *
	 * Further note IE 6/7 has problems when calculating widths with border width.
	 * It subtracts one px relative to the other browsers from the first column, and
	 * adds one to the end...
	 *
	 * If you want that effect I'd suggest setting a border-top/left on th/td's and 
	 * then filling in the gaps with other borders.
	 */
}

table.display thead th {
	
	background-color: #93C9D2;
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid black;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid black;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting


.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}
 */




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes

table.display tr.odd.gradeA {
	background-color: #ddffdd;
}

table.display tr.even.gradeA {
	background-color: #eeffee;
}

table.display tr.odd.gradeC {
	background-color: #ddddff;
}

table.display tr.even.gradeC {
	background-color: #eeeeff;
}

table.display tr.odd.gradeX {
	background-color: #ffdddd;
}

table.display tr.even.gradeX {
	background-color: #ffeeee;
}

table.display tr.odd.gradeU {
	background-color: #ddd;
}

table.display tr.even.gradeU {
	background-color: #eee;
}

 */
tr.odd {
	background-color: #DCEDEB;
}

tr.even {
	background-color: #fefefe;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.dataTables_scrollBody {
	*margin-top: -1px;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
	margin: 0.5em 0;
	width: 100%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers {
	width: 70%;
	height: 20px;
	line-height: 22px;
	font-size: 11px;
	float:right;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 1px 3px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #93C9D2; /*#99B3FF;*/
}

table.display tr.even.row_selected td {
	background-color: #B0BED9;
}

table.display tr.odd.row_selected td {
	background-color: #9FAFD1;
}


/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.odd td.sorting_1 {
	background-color: #D3D6FF;
}

tr.odd td.sorting_2 {
	background-color: #DADCFF;
}

tr.odd td.sorting_3 {
	background-color: #E0E2FF;
}

tr.even td.sorting_1 {
	background-color: #EAEBFF;
}

tr.even td.sorting_2 {
	background-color: #F2F3FF;
}

tr.even td.sorting_3 {
	background-color: #F9F9FF;
}


/* For the Conditional-CSS grading rows */
/*
 	Colour calculations (based off the main row colours)
  Level 1:
		dd > c4
		ee > d5
	Level 2:
	  dd > d1
	  ee > e2
 */
tr.odd.gradeA td.sorting_1 {
	background-color: #c4ffc4;
}

tr.odd.gradeA td.sorting_2 {
	background-color: #d1ffd1;
}

tr.odd.gradeA td.sorting_3 {
	background-color: #d1ffd1;
}

tr.even.gradeA td.sorting_1 {
	background-color: #d5ffd5;
}

tr.even.gradeA td.sorting_2 {
	background-color: #e2ffe2;
}

tr.even.gradeA td.sorting_3 {
	background-color: #e2ffe2;
}

tr.odd.gradeC td.sorting_1 {
	background-color: #c4c4ff;
}

tr.odd.gradeC td.sorting_2 {
	background-color: #d1d1ff;
}

tr.odd.gradeC td.sorting_3 {
	background-color: #d1d1ff;
}

tr.even.gradeC td.sorting_1 {
	background-color: #d5d5ff;
}

tr.even.gradeC td.sorting_2 {
	background-color: #e2e2ff;
}

tr.even.gradeC td.sorting_3 {
	background-color: #e2e2ff;
}

tr.odd.gradeX td.sorting_1 {
	background-color: #ffc4c4;
}

tr.odd.gradeX td.sorting_2 {
	background-color: #ffd1d1;
}

tr.odd.gradeX td.sorting_3 {
	background-color: #ffd1d1;
}

tr.even.gradeX td.sorting_1 {

	background-color: #ffd5d5;
}

tr.even.gradeX td.sorting_2 {
	background-color: #ffe2e2;
}

tr.even.gradeX td.sorting_3 {
	background-color: #ffe2e2;
}

tr.odd.gradeU td.sorting_1 {
	background-color: #c4c4c4;
}

tr.odd.gradeU td.sorting_2 {
	background-color: #d1d1d1;
}

tr.odd.gradeU td.sorting_3 {
	background-color: #d1d1d1;
}

tr.even.gradeU td.sorting_1 {
	background-color: #d5d5d5;
}

tr.even.gradeU td.sorting_2 {
	background-color: #e2e2e2;
}

tr.even.gradeU td.sorting_3 {
	background-color: #e2e2e2;
}


/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}

.ex_highlight_row #example tr.even:hover {
	background-color: #ECFFB3;
}

.ex_highlight_row #example tr.even:hover td.sorting_1 {
	background-color: #DDFF75;
}

.ex_highlight_row #example tr.even:hover td.sorting_2 {
	background-color: #E7FF9E;
}

.ex_highlight_row #example tr.even:hover td.sorting_3 {
	background-color: #E2FF89;
}

.ex_highlight_row #example tr.odd:hover {
	background-color: #E6FF99;
}

.ex_highlight_row #example tr.odd:hover td.sorting_1 {
	background-color: #D6FF5C;
}

.ex_highlight_row #example tr.odd:hover td.sorting_2 {
	background-color: #E0FF84;
}

.ex_highlight_row #example tr.odd:hover td.sorting_3 {
	background-color: #DBFF70;
}


/*
 * KeyTable
 */
table.KeyTable td {
	border: 3px solid transparent;
}

table.KeyTable td.focus {
	border: 3px solid #3366FF;
}

table.display tr.gradeA {
	background-color: #eeffee;
}

table.display tr.gradeC {
	background-color: #ddddff;
}

table.display tr.gradeX {
	background-color: #ffdddd;
}

table.display tr.gradeU {
	background-color: #ddd;
}

div.box {
	height: 100px;
	padding: 10px;
	overflow: auto;
	border: 1px solid #8080FF;
	background-color: #E5E5FF;
}



/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.


#cboxOverlay{background:url(../images/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -100px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -129px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -100px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -129px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

*/




#cboxOverlay{background:url(../images/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -100px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -129px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(../images/controls.png) no-repeat -100px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(../images/controls.png) no-repeat -129px -29px;}
    #cboxMiddleLeft{width:21px; background:url(../images/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(../images/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(../images/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(../images/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#DCEDEB; overflow:hidden; }
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{padding:20px 40px;background:#DCEDEB;}
        #cboxTitle{position:absolute; bottom:14px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;background:#DCEDEB;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(../images/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious.hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(../images/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext.hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(../images/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(../images/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(../images/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose.hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to IE9.
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
*/
.cboxIE6 #cboxTopLeft{background:url(images/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(images/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(images/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(images/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(images/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(images/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(images/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(images/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}
